__pycache__/
hand_landmarker.task

# gesture recognition training examples
*.pt
superconductor/gesture_recognition/palm_hold_release/palm_hold
superconductor/gesture_recognition/palm_hold_release/palm_release
superconductor/gesture_recognition/palm_hold_release/0_palm_hold_records.csv
superconductor/gesture_recognition/palm_hold_release/1_palm_release_records.csv
superconductor/gesture_recognition/palm_hold_release_processed


var
var/log
superconductor.log

superconductor.egg-info

.venv
.DS_Store